@using MyWebApp.C
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @MyWebApp.CustomHelper.Image("C:/Users/acer/Downloads/Firefly big trees in jungle, river and sunset time orange sun 86394.jpg","Adobe Generated Image")
    </div>
</body>
</html>
